---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: k8s-sandbox-api:local
          imagePullPolicy: Never
          ports:
            - containerPort: 50051 # gRPC port
          env:
            - name: DB_ADDR
              value: "host.docker.internal:5432"
            - name: REDIS_ADDR
              value: "host.docker.internal:6379"
            - name: GRPC_ADDR
              value: ":50051"
