---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 2 # scale horizontally to test Kubernetes self-healing
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: k8s-sandbox-worker:local
          imagePullPolicy: Never
          env:
            - name: DB_ADDR
              value: "host.docker.internal:5432"
            - name: REDIS_ADDR
              value: "host.docker.internal:6379"
