---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 2 # scale horizontally to test Kubernetes self-healing
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: k8s-sandbox-worker:local
          imagePullPolicy: Never
          env:
            - name: POSTGRES_HOST
              value: "host.docker.internal"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: "jobs"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "password"
            - name: REDIS_HOST
              value: "host.docker.internal"
            - name: REDIS_PORT
              value: "6379"
