---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  # Start with 1 replica; HPA will scale from here
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: k8s-sandbox-worker:local
          imagePullPolicy: Never

          # Required so HPA knows how to scale
          resources:
            requests:
              cpu: 250m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi

          env:
            - name: DB_ADDR
              value: "host.docker.internal:5432"
            - name: REDIS_ADDR
              value: "host.docker.internal:6379"
