---
services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: jobs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - ./postgres-init.sql:/docker-entrypoint-initdb.d/postgres-init.sql:ro
      # Note the absence of a persistent data volume.
      # Data/Tables will not persist across deployments.
